@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
body{
    padding: 0;
    margin: 0;
	font-family: 'Open Sans';
    background-color: rgb(0, 0, 0);
}
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 1fr 1fr 1fr 4fr;
    grid-template-areas:
      "nav nav nav nav"
      "main main main main"
      "content1 content1 content1 content1"
      "content2 content2 content2 content2"
      "content3 content3 content3 content3"
      "aside aside aside aside"
      "footer footer footer footer";
    font-size: 12px;
    color: #000000;
    text-align: center;
}
nav{
	background: rgb(255, 255, 255);
    grid-area: nav;
}
main{
	background: rgb(255, 255, 255);
    grid-area: main;
}
.content1{
	background: rgb(255, 255, 255);
    grid-area: content1;
}
.content2{
	background: rgb(255, 255, 255);
    grid-area: content2;
}
.content3{
	background: rgb(255, 255, 255);
    grid-area: content3;
}
aside{
	background: rgb(255, 255, 255);
    grid-area: aside;
}
footer{
	background: rgb(255, 255, 255);
    grid-area: footer;
}
/********************* NAV *********************/
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 70px;
    position: sticky;
    top: 0;
    box-shadow: 5px 5px 5px rgb(228, 228, 228);
}
nav .profil{
	display: flex;
    align-items: center;
}
nav .profil img{
    width: 250px;
    height: 30px;
    margin-left: 60px;
}
nav ul{
    display: flex;
    list-style-type: none;
    font-size: 15px;
    margin-right: 60px;
    margin-top: 25px;
}
nav ul li{
    margin-right: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgb(255, 255, 255);
}
nav ul li:hover{
    border-bottom-color: rgb(255, 123, 0);
}
span{
    color: rgb(255, 145, 0);
    font-weight: bold;
}
/******************** FIN NAV **********************/

/********************** MAIN **********************/
main .maintext{
    margin-top: 20px;
}
main .maintext img{
    width: 40px;
    height: 40px;
}
main .maintext h1{
    font-weight: normal;
    font-size: 30px;
    color: rgb(255, 145, 0);
}
main .grid{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    text-align: left;
    font-size: 15px;
}
main .grid .col-2{
    margin: 15px;
}
/********************** FIN MAIN **********************/

/********************** CONTENT1 **********************/

.content1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 80px;
    text-align: left;
    font-size: 10px;  
}
.content1 .box3{
    position: relative;
    background: rgb(255, 123, 0);
    padding: 20px 40px 40px;
    text-align: left;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 30px;
}
.content1 h2{
    font-size: 15px;
    font-weight: normal;
    color: white;
}
.content1 h1{
    color: white;
}
/********************** FIN CONTENT1 **********************/

/********************** CONTENT2 **********************/
.content2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    text-align: left;
    font-size: 10px;  
}
.content2 .box1{
    position: relative;
    background-image: url(./warsaw2x.png);
    background-repeat: no-repeat;
    padding: 20px 40px 40px;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 30px;
}

.content2 header{
    font-size: 15px;
    font-weight: normal;
    margin-top: 50px;
    text-align: center;
}
.content2 h1{
    color: rgb(255, 123, 0);
    font-weight: normal;
}
.content2 h1 p{
    color: rgb(128, 128, 128);
}
/********************** FIN CONTENT2 **********************/

/********************** CONTENT3 **********************/
.content3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    text-align: left;
    font-size: 10px;
}
.content3 .box3{
   width: 250px;
   height: 320px;
   margin: 20px 20px;
   background: white;
   display: flex;
   justify-content: center;
   box-shadow: -10px 10px 10px rgb(223, 223, 223);
}
.content3 .box3 h1{
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
    color: gray;
}
.content3 img{
    width: 250px;
    height: 250px;
}
/********************** FIN CONTENT3 **********************/


/********************** ASIDE **********************/
aside button{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    background-color: rgb(255, 123, 0);
	color: rgb(255, 255, 255);
	font-family:'Helvetica Neue';
    margin: 80px;
    margin-top: 10px;
}
aside button:hover{
    color: rgb(255, 145, 0);
}
button:active{
    transform: scale(1.1);
}
aside h1{
	font-size: 30px;
    font-weight: normal;
}
/********************** FIN ASIDE **********************/

/********************** FOOTER **********************/
footer{
    margin-bottom: 20px;
}
footer .text h1{
	font-weight: normal;
    font-size: 10px;
}
footer .text p{
	font-weight: normal;
    font-size: 10px;
}
/********************** FIN FOOTER **********************/

/********************** MEDIA QUERIE **********************/
@media only screen and (max-width: 550px) {
    .container {
      display: grid;
      height: 100vh;
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas:
      "nav"
      "main"
      "content1"
      "content2"
      "content3"
      "aside"
      "footer";
    }
    main .grid{
        grid-area: main;
        display: grid;
        align-items: center;
        padding-bottom: 60px;
        font-size: 15px;
    }
    nav {
        justify-content: center;
        height: 80px;
    }
    nav img{
        margin-right: 80px;
    }
    nav ul{
        display: none;
    }
    .content1{
        height: 1020px;
    }
   main{
    height: 600px; 
   }
}